{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Contact Info</h1>
    <hr class="my-4">
    <h5 class="display-5">Email-&nbsp;<a href = "mailto: raquelcarr@gmail.com">raquelcarr@gmail.com</a></h5>
    <br/>
    <h1>
        <a href="https://instagram.com/rcworlddd?igshid=mfrjecluxxyk" class="fa fa-instagram"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://linkedin.com/in/raquel-carrasquillo-0aa591167" class="fa fa-linkedin"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.youtube.com/user/RoxxaneRoxxane/featured" class="fa fa-youtube"></a>
    </h1>
</div>

{% endblock %}