{% extends 'base.html' %}
{% block title %}Edit Blog Post{% endblock %}
{% block content %}


{% if user.username == 'admin' %}
    {% if user.id == post.author.id %}
        <h1>Update Post...</h1>
        <hr class="my-4">
        <br/><br/>
        <div class='form-group'>
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class='btn btn-secondary'>Update</button>
            </div>
    {% else %}
        <h1>Something went wrong!</h1>
        You're not allowed here! (and you know it...)
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    {% endif %}
{% else %}
<h1>Something went wrong!</h1>
You're not allowed here! (and you know it...)

{% endif %}




{% endblock %}